:host {

}

a.content-link {
  padding: 6px 8px 6px 5px;
  margin-bottom: 1px;
  cursor: pointer;
  text-decoration: none;
  color: #505050;
  display: block;
  border-left: 3px solid #eee;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a.content-link.active {
  background-color: #fff;
  border-left: 3px solid rgb(200,200,200);
}

a.content-link:hover {
  background-color: #fff;
  border-left: 3px solid rgb(200,200,200);
}

.minidocs-menu-toc {
  margin-top:-2px;
  background-color: #f8f8f8;
  border-left: 3px solid rgb(200,200,200);
}

.minidocs-menu-toc a.content-link {
  border-left:0px;
  padding: 4px 4px 4px 10px;
}
